.cv {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 100px;

  background-color: var(--white);
  height: 497px;
  width: 410px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

  display: grid;
  grid-template-columns: 1fr 2fr;
}

.cv * {
  font-family: "Open Sans", sans-serif;
}

/* Left Side */

.left-side {
  grid-area: 1 / 1 / 1 / 2;
  background-color: var(--cv-black);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 15px;
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: 20px;
  position: relative;
}

.photo {
  position: absolute; /* Position the image within the div */
  border-radius: inherit;
  width: 101%; /* Make the image fill the div width */
  height: 101%; /* Make the image fill the div height */
  object-fit: cover; /* Maintain aspect ratio and fill the space */
}

.contacts,
.education {
  width: 100%;
  margin-bottom: 5px;
}

.left-side-heading {
  color: var(--cv-blue);
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.left-side-divider {
  height: 1px;
  background-color: var(--white);
  margin-bottom: 10px;
}

.contacts-element-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.contacts-element-heading {
  color: var(--white);
  font-weight: 700;
  font-size: 0.5rem;
  margin-bottom: 2px;
}

.contacts-element-text {
  color: var(--white);
  font-size: 0.4rem;
}

/* Right Side */

.right-side {
  grid-area: 1 / 2 / 1 / 3;
  padding: 20px 15px;
}

.name {
  margin-left: 10px;
  margin-bottom: 2px;
  color: var(--cv-black);
  font-size: 1.3rem;
  font-weight: 700;
}

.result-job-title {
  margin-left: 10px;
  color: var(--cv-black);
  font-size: 0.8rem;
  margin-bottom: 8px;
}

.personal-statement {
  color: var(--cv-gray);
  font-size: 0.4rem;
  text-align: justify;
  margin-bottom: 10px;
}
