.education-element {
  margin-bottom: 12px;
  overflow: hidden;
}

.education-institution,
.education-location {
  color: var(--white);
  font-size: 0.4rem;
  margin-bottom: 1px;
  word-break: break-all;
  word-wrap: break-word;
}

.education-location {
  margin-bottom: 3px;
  word-break: break-all;
  word-wrap: break-word;
}

.education-dates,
.education-description {
  color: var(--white);
  font-size: 0.3rem;
  margin-bottom: 1px;
  word-break: break-all;
  word-wrap: break-word;
}

.education-degree {
  color: var(--white);
  font-size: 0.4rem;
  font-weight: 700;
  margin-bottom: 4px;
  word-break: break-all;
  word-wrap: break-word;
}
